---
import BtnPrimary from "./BtnPrimary.astro";
import LinesBackground from "./LinesBackground.astro";

import { translations } from "../i18n/translations.ts";


const lang = Astro.url.pathname.includes("/en/") ? "en" : "es";
---

<section
  id="home"
  class='relative max-w-[1440px] min-h-[700px] md:min-h-[550px] flex justify-center items-center p-4 overflow-hidden'
>
  <!-- Gradient -->
  <div
    class='mx-auto -z-10 absolute aspect-square blur-3xl top-0 left-0 max-w-5xl rounded-full -translate-x-1/4 w-[55%] md:w-[25%] bg-primary/40'
    aria-hidden='true'
  >
  </div>

  <div
    class='mx-auto -z-10 absolute aspect-square blur-3xl bottom-0 max-w-5xl rounded-full translate-x-1/4 w-[85%] md:w-[40%] bg-primary/30 right-0 translate-y-1/2'
    aria-hidden='true'
  >
  </div>

  <!-- Lines -->
  <LinesBackground/>

  <!-- Content -->
  <div class='max-w-2xl flex justify-center items-center flex-col gap-6 z-10'>
    <h1 class='text-4xl font-bold text-center'>
      {translations[lang]["hero.title"]}
      <span class='text-secondary'>{translations[lang]["hero.span"]}</span>
    </h1>
    <p class='max-w-xl text-center text-gray-300'>
      {translations[lang]["hero.subtitle"]}
    </p>
    <div class='flex gap-2 items-center justify-center flex-wrap'>
      <BtnPrimary text={translations[lang]["button.hero.cta"]} link="https://whop.com/checkout/plan_w5DeYOGfVMslY?d2c=true"/>
      <a
        href='https://alvo.chat/68zR'
        target='_blank'
        class='btn-hover py-2 px-5 bg-transparent border border-secondary rounded-md text-accent font-semibold'
      >
        {translations[lang]["button.information"]}
      </a>
    </div>
  </div>
</section>
