---
import type { HTMLAttributes } from "astro/types";
import { Icon } from 'astro-icon/components';


type Props = HTMLAttributes<"a"> & {
  label: string;
  isUnderline?: boolean;
  showIcon?: boolean;
  icon?: string;
};

const { label, isUnderline, ...props } = Astro.props;
---

<a
  href={props.href}
  class:list={{
    ["cursor-pointer flex items-center gap-1 transition-colors duration-200 text-white hover:text-[#A3A1C5]"]: true,
    ["underline decoration-dashed underline-offset-8"]: isUnderline,
  }}
  {...props}
>
  {props.showIcon && <Icon name={props.icon}/>}

  {label}
  <span class="sr-only">{label} link</span>
</a>
