<section class="max-w-7xl h-[90px] border-t border-b border-secondary ">
  <img src="https://cdn.iconscout.com/icon/free/png-256/free-notion-logo-icon-download-in-svg-png-gif-file-formats--productivity-application-brand-apps-pack-logos-icons-8630396.png?f=webp&w=256" alt="Partners" class="w-auto h-[24px] text-white" />
</section>