---
import PillarItem from './PillarItem.astro'
import { translations } from "../i18n/translations.ts";


const lang = Astro.url.pathname.includes("/en/") ? "en" : "es";
const t = (key: string): string => translations[lang]?.[key] || translations["es"][key] || key;

type Pillar = {
  title: string
  description: string
  icon: string
}

const pillars: Pillar[] = [
  {
    title: t('pillars.first.title'),
    description: t('pillars.first.description'),
    icon: 'gear'
  },
  {
    title: t('pillars.second.title'),
    description: t('pillars.second.description'),
    icon: 'computer'
  },
  {
    title: t('pillars.third.title'),
    description: t('pillars.third.description'),
    icon: 'industry'
  },
  {
    title: t('pillars.four.title'),
    description: t('pillars.four.description'),
    icon: 'microphone'
  },
  {
    title: t('pillars.fifth.title'),
    description: t('pillars.fifth.description'),
    icon: 'chart'
  },
  {
    title: t('pillars.sixth.title'),
    description: t('pillars.sixth.description'),
    icon: 'support'
  }
]
---

<section
  class='relative max-w-[1440px] px-8 py-12 flex flex-col items-center justify-center gap-8'
>
  <span
    class='text-lg text-transparent uppercase bg-gradient-to-r from-indigo-300 to-indigo-400 bg-clip-text px-5'
    >{translations[lang]["advisor.title"]}
  </span>
  <div class='grid gap-6 lg:grid-cols-3 sm:grid-cols-2 md:py-8'>
    {
      pillars.map((pillar) => (
        <PillarItem
          title={pillar.title}
          description={pillar.description}
          icon={pillar.icon}
        />
      ))
    }
  </div>
</section>
