---
import PillarItem from './PillarItem.astro'
import { translations } from "../i18n/translations.ts";


const lang = Astro.url.pathname.includes("/en/") ? "en" : "es";

type Pillar = {
  title: string
  description: string
  icon: string
}

const pillars: Pillar[] = [
  {
    title: 'Desarrollo Integral de Habilidades',
    description: 'Formación completa en habilidades técnicas y blandas.',
    icon: 'gear'
  },
  {
    title: 'Dominio de Herramientas Técnicas',
    description: 'Aprende las herramientas más demandadas del sector.',
    icon: 'computer'
  },
  {
    title: 'Conoce más sobre tu industria',
    description: 'Accede a mentorías con profesionales que ya conocen tu industria de interés',
    icon: 'industry'
  },
  {
    title: 'Preparación para Entrevistas',
    description: 'Estrategias para destacar en entrevistas para roles en startups.',
    icon: 'microphone'
  },
  {
    title: 'Conexión con Startups',
    description: 'Accede a las mejores startups de LatAm, USA, Europa y el resto del mundo.',
    icon: 'chart'
  },
  {
    title: 'Soporte Continuo',
    description: 'Te acompañamos y resolvemos cualquier duda durante todo el proceso.',
    icon: 'support'
  }
]
---

<section
  class='relative max-w-[1440px] px-8 py-12 flex flex-col items-center justify-center gap-8'
>
  <span
    class='text-lg text-transparent uppercase bg-gradient-to-r from-indigo-300 to-indigo-400 bg-clip-text px-5'
    >{translations[lang]["advisor.title"]}
  </span>
  <div class='grid gap-6 lg:grid-cols-3 sm:grid-cols-2 md:py-8'>
    {
      pillars.map((pillar) => (
        <PillarItem
          title={pillar.title}
          description={pillar.description}
          icon={pillar.icon}
        />
      ))
    }
  </div>
</section>
