---
import { Icon } from 'astro-icon/components'

const {title, description, icon} = Astro.props
---

<div class="max-w-[320px] flex flex-col gap-2">
  <div class="flex items-center gap-2">
    <Icon name={icon} class='text-secondary text-2xl'/>
    <h4 class="font-semibold text-lg">{title}</h4>
  </div>
  <p class="text-gray-300">{description}</p>
</div>