---
import CardPrice from './CardPrice.astro'
import LinesBackground from './LinesBackground.astro'

type Price = {
  title: string
  duration: string
  price: string
  offers: string[]
  isBetterPrice?: boolean
}

const prices: Price[] = [
  {
    price: '39.99',
    title: 'Balancix Started ',
    duration: '4 meses',
    offers: [
      'Clases con profesionales del sector tech',
      'Acceso a herramientas y retos semanales',
      'Preparación y generación de entrevistas con startups',
      'Acompañamiento personalizado',
    ]
  },
  {
    price: '59.90',
    title: 'Balancix Global ',
    duration: '4 meses',
    offers: [
      'Todo de Balancix Started',
      'Preparación intensiva en inglés para startups',
      'Generación de entrevistas con startups de USA'
    ],
    isBetterPrice: true
  }
]
---

<section
  id='prices'
  class='relative max-w-[1440px] px-8 py-12 flex items-center justify-center gap-8'
>
  <!-- Lines -->
  <LinesBackground />

  <div class='px-8 py-12 mx-auto max-w-[1440px] md:px-12 lg:px-32 lg:py-24 z-20'>
    <div class='text-center max-w-2xl mx-auto'>
      <span
        class='text-lg text-transparent uppercase bg-gradient-to-r from-indigo-300 to-indigo-400 bg-clip-text'
        >Precios
      </span>
      <h2
        class='mt-8 text-3xl font-normal tracking-tight text-balance text-white'
      >
        <span class='text-secondary font-bold'>Invierte en el futuro de tu carrera.</span>
        <br />
        Obtén un 10% de dsct. si eres usuario de MyWorkIn.
      </h2>
    </div>
    <div
      class='grid grid-cols-1 mt-16 -mx-4 gap-y-10 sm:mx-auto lg:max-w-none md:grid-cols-2 lg:grid-cols-2 gap-x-4 lg:-mx-8'
    >
      {prices.map((price) => <CardPrice {...price} />)}
    </div>
  </div>
</section>
