---
import CardPrice from './CardPrice.astro'
import LinesBackground from './LinesBackground.astro'
import { translations } from "../i18n/translations.ts"

const lang = Astro.url.pathname.includes("/en/") ? "en" : "es";

type Price = {
  title: string
  duration: string
  price: string
  offers: string[]
  isBetterPrice?: boolean
}

const prices: Price[] = [
  {
    price: '30.00',
    title: 'Para estudiantes',
    duration: '4 meses',
    offers: [
      'Acceso premium a herramientas como HubSpot, Clay.com, Recruit CRM, BambooHR y SimilarWeb',
      'Contacto directo con más de 200 empresas remote first',
      'Eventos exclusivos como Office Hours y Conversatorios en inglés.'
    ],
    isBetterPrice: true
  }
]
---

<section
  id='prices'
  class='relative max-w-[1440px] px-8 py-12 flex items-center justify-center gap-8'
>
  <!-- Lines -->
  <LinesBackground />

  <div class='px-8 py-12 mx-auto max-w-[1440px] md:px-12 lg:px-32 lg:py-24 z-20'>
    <div class='text-center max-w-2xl mx-auto'>
      <span
        class='text-lg text-transparent uppercase bg-gradient-to-r from-indigo-300 to-indigo-400 bg-clip-text'
        >{translations[lang]["pricing.title"]}
      </span>
      <h2
        class='mt-8 text-3xl font-normal tracking-tight text-balance text-white'
      >
        <span class='text-secondary font-bold'>{translations[lang]["pricing.description"]}</span>
        <br />
        {translations[lang]["pricing.span"]}
      </h2>
    </div>
    <div
      class='grid grid-cols-1 mt-16 -mx-4 gap-y-10 sm:mx-auto lg:max-w-none md:grid-cols-1 lg:grid-cols-1 gap-x-4 lg:-mx-8 place-items-center'
    >
      {prices.map((price) => <CardPrice {...price} />)}
    </div>
  </div>
</section>
