---
import LinesBackground from './LinesBackground.astro'
import ReviewItem from './ReviewItem.astro'
import { translations } from "../i18n/translations"

const lang = Astro.url.pathname.includes("/en/") ? "en" : "es";

type Review = {
  review: string
  author: string
  image: string
  inverted?: boolean
}

const reviews: Review[] = [
  {
    review: translations[lang]["review.1"],
    author: 'Hann',
    image: '/pierre.webp'
  },
  {
    review: translations[lang]["review.2"],
    author: 'Daniela',
    image: '/Daniela.jpg',
    inverted: true
  }
]
---

<section
  class='relative max-w-[1440px] px-8 py-12 flex flex-col items-center justify-center gap-8'
>
  <!-- Lines -->
  <LinesBackground />
  {
    reviews.map(({ review, author, image, inverted }) => (
      <ReviewItem
        review={review}
        author={author}
        image={image}
        inverted={inverted ?? false}
      />
    ))
  }
</section>
