---
import Card from './Card.astro'
import LinesBackground from './LinesBackground.astro'
import { defaultLang, translations } from "../i18n/translations.ts"

const lang = Astro.url.pathname.includes("/en/") ? "en" : "es";
const t = (key: string): string => translations[lang]?.[key] || translations["es"][key] || key;

type Step = {
  number: string
  title: string
  description: string
  cta?: boolean
}

const dataSteps: Step[] = [
  {
    number: '1',
    title: t('steps.first.step'),
    description:
      'Programa una videollamada gratuita con uno de nuestros asesores',
    cta: true
  },
  {
    number: '2',
    title: t('steps.second.step'),
    description: 'Realiza el primer pago de $30 USD, mediante Stripe o Paypal.'
  },
  {
    number: '3',
    title: t('steps.third.step'),
    description:
      'Obtén acceso a nuestro grupo de Whop y empieza tu camino hacia el mundo el trabajo remoto en el extranjero.'
  }
]
---

<section
  class='relative max-w-[1440px] px-8 py-12 flex flex-col items-center justify-center gap-8 overflow-hidden'
>
  <!-- Gradient -->
  <div
    class='mx-auto -z-10 absolute aspect-square blur-3xl top-0 left-0 max-w-5xl rounded-full -translate-x-1/4 w-[55%] md:w-[25%] bg-primary/40'
    aria-hidden='true'
  >
  </div>

  <div
    class='mx-auto -z-10 absolute aspect-square blur-3xl bottom-0 max-w-5xl rounded-full translate-x-1/4 w-[85%] md:w-[40%] bg-primary/30 right-0 translate-y-1/2'
    aria-hidden='true'
  >
  </div>

  <!-- Lines -->
  <LinesBackground />
  <span
    class='text-lg text-transparent uppercase bg-gradient-to-r from-indigo-300 to-indigo-400 bg-clip-text px-5'
    >{translations[lang]["steps.title"]}
  </span>
  <div class='max-w-5xl grid gap-4 md:grid-cols-3 sm:grid-cols-2'>
    {
      dataSteps.map((step) => (
        <Card
          number={step.number}
          title={step.title}
          description={step.description}
          cta={step.cta}
        />
      ))
    }
  </div>
</section>
