---
import Card from './Card.astro'
import LinesBackground from './LinesBackground.astro'

type Step = {
  number: string
  title: string
  description: string
  cta?: boolean
}

const dataSteps: Step[] = [
  {
    number: '1',
    title: ' Inscríbete al Webinar',
    description:
      'Únete al webinar gratuito para resolver tus dudas (fechas, costos, duración, y más).',
    cta: true
  },
  {
    number: '2',
    title: 'Completa el Formulario',
    description: 'Visita balancix.site y elige la posición que más te interese.'
  },
  {
    number: '3',
    title: 'Confirma tu Pago',
    description:
      'Recibe el link de pago a través de Stripe y, una vez confirmado, te añadiremos a nuestro grupo de Discord para el onboarding.'
  }
]
---

<section
  class='relative min-h-[90vh] max-w-7xl p-8 flex flex-col items-center justify-center gap-8 overflow-hidden'
>
  <!-- Gradient -->
  <div
    class='mx-auto -z-10 absolute aspect-square blur-3xl top-0 left-0 max-w-5xl rounded-full -translate-x-1/4 w-[55%] md:w-[25%] bg-primary/40'
    aria-hidden='true'
  >
  </div>

  <div
    class='mx-auto -z-10 absolute aspect-square blur-3xl bottom-0 max-w-5xl rounded-full translate-x-1/4 w-[85%] md:w-[40%] bg-primary/30 right-0 translate-y-1/2'
    aria-hidden='true'
  >
  </div>

  <!-- Lines -->
  <LinesBackground />
  <!-- <h2 class='text-center text-2xl font-bold'>Pasos para empezar</h2> -->
  <div class='max-w-5xl grid gap-4 md:grid-cols-3 sm:grid-cols-2'>
    {
      dataSteps.map((step) => (
        <Card
          number={step.number}
          title={step.title}
          description={step.description}
          cta={step.cta}
        />
      ))
    }
  </div>
</section>
