<section
  class='relative max-w-[1440px] px-6 py-12 flex items-center justify-center gap-8'
>
  <div class='flex flex-col gap-8 w-full justify-center items-center'>
    <h3 class='text-2xl font-bold text-balance text-center'>
      Webinar - Programa de formación Balancix
    </h3>
    <iframe
      class='rounded-md w-full md:w-[560px]'
      width='560'
      height='315'
      src='https://www.youtube.com/embed/Ao3Qbpv8-x4?si=cfq4IXuR50ZjEIeC'
      title='YouTube video player'
      allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share'
      referrerpolicy='strict-origin-when-cross-origin'
      allowfullscreen></iframe>
  </div>
</section>
