---
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'

interface Props {
  title: string
}

const { title } = Astro.props
---

<!doctype html>
<html lang='es'>
  <head>
    <meta charset='UTF-8' />
    <meta name='description' content='Programa de aceleraci칩n que conecta talento con pr치cticas remotas en startups de LatAm y USA. Formaci칩n pr치ctica y actualizada para impulsar tu carrera profesional' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='generator' content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class='bg-background text-white'>
    <Header />
    <main class="flex">
      <div class="m-auto w-fit overflow-hidden">
        <slot />
      </div>
    </main>
    <Footer />
  </body>
</html>
<style is:global>
  html {
    scroll-behavior: smooth;
  }
  .btn-hover:hover {
    transition: all 0.2s ease-in-out;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.3);
  }
</style>
